.panelContainer {
  display: flex;
  height: 100vh;
}
.panelSide {
  flex: 0 0 200px;
  background-color: var(--dark-gray);
  height: 100vh;
  color: white;
}
.panelMain {
  flex-grow: 1;
  min-height: 100vh;
}
